In [6]:
import yfinance as yf

def get_stock_data(ticker):
    try:
        # Fetch stock data
        stock = yf.Ticker(ticker)
        info = stock.info
        print(f"Stock: {info['shortName']} ({ticker})")
        print(f"Current Price: {info['regularMarketPrice']} {info['currency']}")
        print(f"Market Cap: {info['marketCap']}")
        print(f"52 Week High: {info['fiftyTwoWeekHigh']}")
        print(f"52 Week Low: {info['fiftyTwoWeekLow']}")
    except Exception as e:
        print("An error occurred:", e)

In [7]:
stock = yf.Ticker("AAPL")
stock

yfinance.Ticker object <AAPL>

In [8]:
aapl= yf.Ticker("aapl")
aapl_historical = aapl.history(start="2024-12-02", end="2025-01-07", interval="1wk")
aapl_historical

/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:304: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Dividends"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:304: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Dividends"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/utils.py:360: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-02 00:00:00-05:00,237.270004,244.630005,237.160004,242.839996,208286500,0,0
2024-12-09 00:00:00-05:00,241.830002,250.800003,241.750000,248.130005,192702600,0,0
2024-12-16 00:00:00-05:00,247.990005,255.000000,245.690002,254.490005,368202900,0,0
2024-12-23 00:00:00-05:00,254.770004,260.100006,253.059998,255.589996,133685900,0,0
2024-12-30 00:00:00-05:00,252.229996,253.500000,241.820007,243.360001,171023000,0,0
2025-01-06 00:00:00-05:00,244.309998,247.330002,241.350006,242.210007,85901600,0,0

In [9]:
import yfinance as yf

apple= yf.Ticker("aapl")

In [12]:
data = yf.download("AMZN TSLA GOOG", start="2024-12-01", end="2025-01-30")
data

[*********************100%***********************]  3 of 3 completed

/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:304: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Dividends"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:304: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Dividends"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/utils.py:360: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:304: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Dividends"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:304: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Dividends"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/utils.py:360: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:304: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Dividends"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/base.py:305: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Stock Splits"].fillna(0, inplace=True)
/home/pcss/costin/lib/python3.12/site-packages/yfinance/utils.py:360: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

             Adj Close                               Close              \
                  AMZN        GOOG        TSLA        AMZN        GOOG
Date
2024-12-02  210.710007  172.783981  357.089996  210.710007  172.979996
2024-12-03  213.440002  172.823944  351.420013  213.440002  173.020004
2024-12-04  218.160004  175.890457  357.929993  218.160004  176.089996
2024-12-05  220.550003  174.112473  369.489990  220.550003  174.309998
2024-12-06  227.029999  176.290009  389.220001  227.029999  176.490005
2024-12-09  226.089996  177.100006  389.790009  226.089996  177.100006
2024-12-10  225.039993  186.529999  400.989990  225.039993  186.529999
2024-12-11  230.259995  196.710007  424.769989  230.259995  196.710007
2024-12-12  228.970001  193.630005  418.100006  228.970001  193.630005
2024-12-13  227.460007  191.380005  436.230011  227.460007  191.380005
2024-12-16  232.929993  198.160004  463.019989  232.929993  198.160004
2024-12-17  231.149994  197.119995  479.859985  231.149994  197.119995
2024-12-18  220.520004  190.149994  440.130005  220.520004  190.149994
2024-12-19  223.289993  189.699997  436.170013  223.289993  189.699997
2024-12-20  224.919998  192.960007  421.059998  224.919998  192.960007
2024-12-23  225.059998  195.990005  430.600006  225.059998  195.990005
2024-12-24  229.050003  197.570007  462.279999  229.050003  197.570007
2024-12-26  227.050003  197.100006  454.130005  227.050003  197.100006
2024-12-27  223.750000  194.039993  431.660004  223.750000  194.039993
2024-12-30  221.300003  192.690002  417.410004  221.300003  192.690002
2024-12-31  219.389999  190.440002  403.839996  219.389999  190.440002
2025-01-02  220.220001  190.630005  379.279999  220.220001  190.630005
2025-01-03  224.190002  193.130005  410.440002  224.190002  193.130005
2025-01-06  227.610001  197.960007  411.049988  227.610001  197.960007
2025-01-07  222.110001  196.710007  394.359985  222.110001  196.710007
2025-01-08  222.130005  195.389999  394.940002  222.130005  195.389999
2025-01-10  218.940002  193.169998  394.739990  218.940002  193.169998
2025-01-13  218.460007  192.289993  403.309998  218.460007  192.289993
2025-01-14  217.759995  191.050003  396.359985  217.759995  191.050003
2025-01-15  223.350006  196.979996  428.220001  223.350006  196.979996
2025-01-16  220.660004  194.410004  413.820007  220.660004  194.410004
2025-01-17  225.940002  197.550003  426.500000  225.940002  197.550003

                              High                                 Low  \
                  TSLA        AMZN        GOOG        TSLA        AMZN
Date
2024-12-02  357.089996  212.990005  173.600006  360.000000  209.509995
2024-12-03  351.420013  214.020004  174.320007  355.690002  209.649994
2024-12-04  357.929993  220.000000  176.429993  358.100006  215.750000
2024-12-05  369.489990  222.149994  177.710007  375.429993  217.300003
2024-12-06  389.220001  227.149994  176.839005  389.489990  220.600006
2024-12-09  389.790009  230.080002  178.039993  404.799988  225.669998
2024-12-10  400.989990  229.059998  188.029999  409.730011  224.199997
2024-12-11  424.769989  231.199997  196.889999  424.880005  226.259995
2024-12-12  418.100006  231.089996  196.705002  429.299988  227.630005
2024-12-13  436.230011  230.199997  194.339996  436.299988  225.860001
2024-12-16  463.019989  233.000000  200.639999  463.190002  228.009995
2024-12-17  479.859985  232.729996  202.880005  483.989990  227.850006
2024-12-18  440.130005  231.399994  198.690002  488.540009  220.110001
2024-12-19  436.170013  226.089996  194.600006  456.359985  222.919998
2024-12-20  421.059998  226.210007  194.134995  447.079987  218.729996
2024-12-23  430.600006  226.880005  196.490005  434.510010  223.899994
2024-12-24  462.279999  229.139999  197.669998  462.779999  226.130005
2024-12-26  454.130005  228.500000  198.160004  465.329987  226.669998
2024-12-27  431.660004  226.029999  196.800003  450.000000  220.899994
2024-12-30  417.410004  223.000000  193.779999  427.000000  218.429993
2024-12-31  403.839996  223.229996  193.250000  427.929993  218.940002
2025-01-02  379.279999  225.149994  193.199997  392.730011  218.190002
2025-01-03  410.440002  225.360001  194.500000  411.880005  221.619995
2025-01-06  411.049988  228.839996  199.559998  426.429993  224.839996
2025-01-07  394.359985  228.380005  202.139999  414.329987  221.460007
2025-01-08  394.940002  223.520004  197.639999  402.500000  220.199997
2025-01-10  394.739990  221.710007  197.619995  399.279999  216.500000
2025-01-13  403.309998  219.399994  192.490005  403.790009  216.470001
2025-01-14  396.359985  221.820007  193.270004  422.640015  216.199997
2025-01-15  428.220001  223.570007  197.800003  429.799988  220.750000
2025-01-16  413.820007  224.649994  196.979996  424.000000  220.309998
2025-01-17  426.500000  226.509995  198.809998  439.739990  223.080002

                                          Open                          \
                  GOOG        TSLA        AMZN        GOOG        TSLA
Date
2024-12-02  170.270004  351.149994  209.960007  170.320007  352.380005
2024-12-03  172.509995  348.200012  210.309998  173.119995  351.799988
2024-12-04  172.750000  348.600006  215.960007  172.779999  353.000000
2024-12-05  174.009995  359.500000  218.029999  177.320007  359.869995
2024-12-06  173.550003  370.799988  220.750000  173.880005  377.420013
2024-12-09  175.399994  378.010010  227.210007  175.714996  397.609985
2024-12-10  182.669998  390.850006  226.089996  184.535004  392.679993
2024-12-11  186.259995  402.380005  226.410004  186.699997  409.700012
2024-12-12  193.279999  415.000000  229.830002  196.300003  424.839996
2024-12-13  191.259995  415.709991  228.399994  192.710007  420.000000
2024-12-16  194.110001  436.149994  230.229996  194.365005  441.089996
2024-12-17  196.690002  457.510010  232.389999  198.529999  475.899994
2024-12-18  189.279999  427.010010  230.770004  196.830002  466.500000
2024-12-19  189.520004  420.019989  224.910004  193.279999  451.880005
2024-12-20  186.369995  417.640015  219.839996  187.009995  425.510010
2024-12-23  191.630005  415.410004  225.009995  194.029999  431.000000
2024-12-24  195.197998  435.140015  226.940002  196.169998  435.899994
2024-12-26  195.869995  451.019989  228.500000  196.740005  465.160004
2024-12-27  191.972000  426.500000  225.600006  196.470001  449.519989
2024-12-30  190.360001  415.750000  220.059998  190.865005  419.399994
2024-12-31  189.580002  402.540009  222.970001  192.445007  423.790009
2025-01-02  188.710007  373.040009  222.029999  191.485001  390.100006
2025-01-03  191.350006  379.450012  222.509995  192.725006  381.480011
2025-01-06  195.059998  401.700012  226.779999  195.149994  423.200012
2025-01-07  195.940002  390.000000  227.899994  198.270004  405.829987
2025-01-08  193.750000  387.399994  223.190002  193.949997  392.950012
2025-01-10  191.600006  377.290009  221.460007  195.419998  391.399994
2025-01-13  188.660004  380.070007  218.059998  191.350006  383.209991
2025-01-14  189.639999  394.540009  220.440002  192.500000  414.339996
2025-01-15  193.330002  405.660004  222.830002  194.350006  409.899994
2025-01-16  194.300003  409.130005  224.419998  195.824997  423.489990
2025-01-17  195.309998  419.750000  225.839996  198.050003  421.500000

              Volume
                AMZN      GOOG       TSLA
Date
2024-12-02  39523200  16593400   77986500
2024-12-03  32214800  15721500   58267200
2024-12-04  48745700  18239800   50810900
2024-12-05  41140200  16145500   81403600
2024-12-06  44178100  13319500   81455800
2024-12-09  46819400  19887800   96359200
2024-12-10  31199900  34317400   97563600
2024-12-11  35385800  41664500  104287600
2024-12-12  28204100  25197800   87752200
2024-12-13  28768100  18883200   89000200
2024-12-16  37552100  32248600  114083800
2024-12-17  35948100  24129500  131223000
2024-12-18  43281400  27638400  149340800
2024-12-19  39918700  26981200  118566100
2024-12-20  88279200  45319700  132216200
2024-12-23  28070000  15235900   72698100
2024-12-24  15007500   6809800   59551800
2024-12-26  16146700   7907900   76366400
2024-12-27  27367100  14693000   82666800
2024-12-30  28321200  12209500   64941000
2024-12-31  24819700  14355200   76825100
2025-01-02  33956600  17545200  109710700
2025-01-03  27515600  12875000   95423300
2025-01-06  31849800  19483300   85516500
2025-01-07  28084200  16966800   75699500
2025-01-08  25033300  14335300   73038800
2025-01-10  36811500  20753800   62287300
2025-01-13  27262700  13169100   67580500
2025-01-14  24711700  13651200   84565000
2025-01-15  31291300  12894900   81375500
2025-01-16  24757300  13449600   68335200
2025-01-17  42108900  21977800   94504200